// #hero {
// background-image: url(/assets/hero.jpg);
// object-fit: scale-down;
// background-size: cover;
// height: 50rem;
// }

#hero{
    align-items: center;
    height: 30rem;
    padding-top: 15rem;
}
// *{
//     background-color: green;
// }
#conbg{
    background-image: url(/assets/background1.jpg);
    object-fit: scale-down;
    background-size: cover;
    height: 40rem;
}