<div class="container-fluid my-5">
    <div class="row my-5">
        <div class="col-lg-6 mx-auto text-center">
            <h2>Services We Offer</h2>
            <nav class="navbar navbar-light mb-3">
    
                <li (click)="change()" >Travel Insurance</li>
                <li (click)="change1()" >Flights</li>
                <li (click)="change2()" >Sightseeing</li>
                <li (click)="change3()" >Accomondation</li>
            </nav>
            <p class="mt-2" id="result">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quia, saepe maiores esse nostrum, tenetur cupiditate placeat itaque beatae sit nisi harum consequuntur suscipit architecto reiciendis hic, obcaecati molestias non Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, vero reiciendis animi perferendis commodi porro alias quisquam eos consectetur esse blanditiis architecto pariatur, debitis assumenda veritatis accusamus nostrum odio quod?</p>
        </div>
    <div class="col-lg-6"><img id="homeimg" src="/assets/hero1.jpg"></div>
    </div>
</div>